
.loader {
    display: none;
    width: 100px;
    height: 100px;

    position: absolute;
    z-index: -1;
    top: 5vw;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    border-radius: 150px;
    animation: spin 1s linear infinite;
	border-width: 1px;
    border-style: solid;
    border-color: rgba(100, 100, 100, 0.3)
                  rgba(0, 0, 0, 0.7)
                  rgba(0, 0, 0, 0.7)
                  rgba(100, 100, 100, 0.3);

		&-lightbox {
            @extend .loader;
            display: none;
            border-color: rgba(100, 100, 100, 0.3)
                          rgba(255, 255, 255, 0.7)
                          rgba(255, 255, 255, 0.7)
                          rgba(100, 100, 100, 0.3);
        }

		&.small {
            width: 30px;
            height: 30px;
        }
}
